# Dépendances
/node_modules
/.pnp
.pnp.js

# Fichiers de build Next.js
/.next/
/out/

# Fichiers de production
/build

# Fichiers divers (spécifiques aux OS)
.DS_Store
*.pem

# Logs de débogage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Fichiers d'environnement locaux
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de configuration Vercel et Netlify
.vercel
.netlify

# Fichiers de cache et de compilation TypeScript
*.tsbuildinfo
next-env.d.ts
