@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 356 44% 90%;
    --foreground: 240 10% 3.9%;
    --card: 356 44% 93%;
    --card-foreground: 240 10% 3.9%;
    --popover: 356 44% 93%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 16 100% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 256 17% 87%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 256 17% 88%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 256 17% 84%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 17% 80%;
    --input: 256 17% 82%;
    --ring: 16 100% 66%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 5% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 100% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 256 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 256 10% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 256 17% 34%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 10% 25%;
    --input: 256 10% 25%;
    --ring: 16 100% 66%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
